<!-- 搜索按钮和输入框 -->
<style>
    #search-btn {
        color: #0357b1;
        position: fixed;
        right: 0;
        top: 90%;
        z-index: 999;
        background-color: #d7dde1;
        border: 1px solid #f8f9fa;
        border-radius: 0 0 0 5px;
        padding: 10px 20px;
        cursor: pointer;
    }
</style>
<button id="search-btn">搜索</button>
<!-- <input type="text" id="search-input" placeholder="搜索..." /> -->

<!-- 搜索结果展示区域 -->
<!-- <ul id="search-results"></ul> -->

<!-- 引入你的 fastsearch.js 脚本 -->
<script src="js/fastsearch.js"></script>
